#################################
##      git ignore             ##
#################################
Content/StarterContent/
Binaries/
Build/
Intermediate/
Saved/

##############
# vs project #
##############
.vs/
